<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-sititec-plugin-installedapps"
        version="1.0.0">

  <description>Installed Apps Plugin</description>
  <license>MIT</license>
  <keywords>cordova,installedapps</keywords>
  <repo>https://github.com/luisvcastilla/installedApps.git</repo>
  <issue>https://github.com/luisvcastilla/installedApps/issues</issue>

  <js-module src="www/InstalledApps.js" name="InstalledApps">
    <clobbers target="window.InstalledApps" />
  </js-module>
  
  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="InstalledApps">
        <param name="android-package" value="com.sititec.cordova.installedapps.InstalledApps"/>
      </feature>
    </config-file>

    <source-file src="src/android/InstalledApps.java" target-dir="src/com/sititec/cordova/installedapps"/>
  </platform>

</plugin>